.interiors-grid-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  animation: fadeIn forwards ease-in-out 0.4s;
  img {
    width: 100%;
  }
}

.column {
  display: flex;
  flex-direction: column;
  flex: 100%;
  max-width: 100%;
  padding: 0 4px;
  &:nth-of-type(1) {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  &:nth-of-type(2) {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  img {
    transition: opacity 0.2s ease-in-out;
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
  }
}

.exterior-column {
  display: flex;
  flex-direction: column;
  flex: 100%;
  max-width: 100%;
  padding: 0 4px;
  img {
    transition: opacity 0.2s ease-in-out;
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
  }
}

@media screen and (min-width: 900px) {
  .column,
  .exterior-column {
    flex: 25%;
    max-width: 50%;
  }
  .interiors-grid-container {
    height: calc(100vh - 134px);
    width: calc(100vw - 221.4px);
    overflow: scroll;
  }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  .column,
  .exterior-column {
    flex: 35%;
    max-width: 50%;
  }
}
