.interiors-grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100vw - 220.95px);
  img {
    width: 100%;
  }
}

.column {
  flex: 100%;
  max-width: 100%;
  padding: 0 4px;
  img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
}

@media screen and (min-width: 800px) {
  .column {
    flex: 30%;
    max-width: 30%;
  }
}

@media screen and (min-width: 600px) and (max-width: 799px) {
  .column {
    flex: 50%;
    max-width: 100%;
  }
}
