.interiors-grid-container {
  display: flex;
  height: calc(100vh - 134px);
  overflow: scroll;
  padding-bottom: 50px;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100vw - 220.95px);
  img {
    width: 100%;
  }
}

.column {
  display: flex;
  flex-direction: column;
  flex: 100%;
  max-width: 100%;
  padding: 0 4px;
  img {
    transition: opacity 0.2s ease-in-out;
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
  }
}

@media screen and (min-width: 800px) {
  .column {
    flex: 30%;
    max-width: 30%;
  }
}

@media screen and (min-width: 600px) and (max-width: 799px) {
  .column {
    flex: 50%;
    max-width: 100%;
  }
}
