/* Nav Bar Style */

:root {
    --clr-primary: black;
    --clr-primary-hover: black;
    --clr-gray100: #f0f7f8;
    --clr-gray200: #cfd8dc;

    --radius: 0.2rem;
}

body {
    font-family: 'Lori', serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Nav Bar Style */

.navwrapper {
    font-family: 'Lori', serif;
    box-shadow: 0px 0px 10px var(--clr-gray200);
    margin: 0;
    padding: 1rem 3rem;
    background-color: white;
    border-radius: var(--radius);
    display: flex;
    justify-content: flex-end;
    position: sticky;
    
}


.nav-list {
    list-style: none;
    align-items: center;
    display: inline-flex;

}

.nav-item {
    font-size: 20px;
    margin-left: 2.5rem;
    transition: .2s all;
    
}

#logo {
    height: auto;
    width: 80px;
    margin-right: auto;
    display: inline-flex;
    
}

/* Nav Animations */

img::after {
    content:  '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .1em;
    background-color: black;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

img:hover::after,
img:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2, 0);
}

.nav-list:hover .nav-item {
    
    opacity: .5;
    transform: scale(.98);
    box-shadow: none;
}

.nav-list:hover .nav-item:hover {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;

    
}

.nav-item a {
    display: block;
    text-decoration: none;
    position: relative;
    padding: .1em 0;
    color: black;

}

.nav-item a::after {
    content:  '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .1em;
    background-color: black;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.nav-item a:hover::after,
.nav-item a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2, 0);
}


/* Slideshow */

.mySlides {
    display: none;
}

.images {
    vertical-align: middle;
    width: auto;
    margin-top: 50px;
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.slideshow-container {
    max-width: 73%;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 5%;
    flex-direction: column;
}

@media screen and (max-width: 1700px) {
    .slideshow-container {
        max-width: 80%;
    }
}

@media screen and (max-width: 1000px) {
    .slideshow-container {
        max-width: 90%;
    }
}



/* Previous Next Arrows */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-size: 18px;
    font-weight: normal;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* add hover animation for next prev arrows */

.prev:hover,
.next:hover {

}

/* slideshow numbers */

.numbertext {
    font-size: 18px;
    position: relative;
    text-align: right;
    margin-top: 25px;
}

/* Fade Animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}



