.slide-container {
  img {
    width: 90%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
  }
  @include flex();
  justify-content: center;
  height: calc(100vh - 314px);
}

.slide-controls {
  @include flex();
  justify-content: center;
  cursor: pointer;
  margin-top: 30px;
  animation: slideIn forwards 1s ease-in-out;
  p:nth-of-type(2) {
    color: rgb(175, 175, 175);
    padding: 0 10px;
    font-size: 1.3rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 900px) {
  .slide-container {
    img {
      width: 100%;
    }
  }
}
