@mixin flex {
  display: flex;
  align-items: center;
}

.header {
  padding: 20px;
}

.logo {
  @include flex();
  justify-content: space-between;
  animation: slideIn forwards 0.7s ease-in-out;
  cursor: pointer;
  img {
    max-width: 60px;
  }
  p {
    display: none;
    margin-left: 20px;
    font-weight: 300;
    font-size: 1.8rem;
  }
}

.track {
  position: absolute;
  width: 20px;
  height: 110px;
}

.nav {
  list-style: none;
  display: none;
  position: relative;
  li {
    margin-left: 10px;
    padding: 10px 0;
    cursor: pointer;
    &:nth-of-type(1) {
      padding-top: 0px;
    }
  }
}

.line-hover {
  transition: all 0.5s ease-in-out;
  height: 19px;
  width: 2px;
  background-color: black;
  position: absolute;
  left: 20%;
  top: 0%;
}

@media only screen and (min-width: 900px) {
  .nav {
    display: block;
  }
  .mobile-menu-container {
    display: none;
  }
  .main-container {
    display: grid;
    grid-template-columns: 0.5fr fit-content(70%);
  }
  .logo {
    justify-content: start;
    p {
      display: block;
    }
  }
  .nav-container {
    padding: 0 50px;
    animation: slideIn forwards 0.7s ease-in-out;
  }
  .header {
    padding: 50px;
  }
}
