@mixin flex {
  display: flex;
  align-items: center;
}

.header {
  padding: 20px;
}

.logo {
  @include flex();
  justify-content: space-between;
  img {
    max-width: 60px;
  }
  p {
    display: none;
    margin-left: 20px;
    font-weight: 300;
    font-size: 1.8rem;
  }
}

.nav {
  list-style: none;
  display: none;
  li {
    padding: 10px 0;
    cursor: pointer;
    &:nth-of-type(1) {
      padding-top: 0px;
    }
  }
}

@media only screen and (min-width: 900px) {
  .nav {
    display: block;
  }
  .mobile-menu-container {
    display: none;
  }
  .main-container {
    display: grid;
    grid-template-columns: .5fr fit-content(70%);
  }
  .logo {
    justify-content: start;
    p {
      display: block;
    }
  }
  .nav-container {
    padding: 0 50px;
  }
  .header {
    padding: 50px;
  }
}
