.menu-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  transition: all 0.3s ease-in-out;
}

.mobile-menu {
  @include flex();
  flex-direction: column;
  justify-content: center;
  background-color: white;
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 2rem;
  li {
    padding: 10px 0;
  }
}


