html {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Work Sans", sans-serif;
}

.header {
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  max-width: 60px;
}
.logo p {
  display: none;
  margin-left: 20px;
  font-weight: 300;
  font-size: 1.8rem;
}

.track {
  position: absolute;
  width: 20px;
  height: 110px;
}

.nav {
  list-style: none;
  display: none;
  position: relative;
}
.nav li {
  margin-left: 10px;
  padding: 10px 0;
  cursor: pointer;
}
.nav li:nth-of-type(1) {
  padding-top: 0px;
}

.line-hover {
  transition: all 0.5s ease-in-out;
  height: 19px;
  width: 2px;
  background-color: black;
  position: absolute;
  left: 20%;
  top: 0%;
}

@media only screen and (min-width: 900px) {
  .nav {
    display: block;
  }
  .mobile-menu-container {
    display: none;
  }
  .main-container {
    display: grid;
    grid-template-columns: 0.5fr fit-content(70%);
  }
  .logo {
    justify-content: start;
  }
  .logo p {
    display: block;
  }
  .nav-container {
    padding: 0 50px;
  }
  .header {
    padding: 50px;
  }
}
.mobile-menu {
  display: flex;
  align-items: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  position: absolute;
  text-align: center;
  height: 100vh;
  width: 100%;
  font-size: 2rem;
}
.mobile-menu li {
  padding: 10px 0;
}

.slide-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(80vh - 76px);
}
.slide-container img {
  width: 90%;
  cursor: pointer;
}

.slide-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.slide-controls p:nth-of-type(2) {
  color: rgb(175, 175, 175);
  padding: 0 10px;
  font-size: 1.3rem;
}

@media only screen and (min-width: 900px) {
  .slide-container {
    max-width: calc(100vw - 175px);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
  }
  .slide-container img {
    max-height: calc(100vh - 134px);
  }
}
.interiors-grid-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.interiors-grid-container img {
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 100%;
  max-width: 100%;
  padding: 0 4px;
}
.column:nth-of-type(2) {
  flex-direction: column-reverse;
  justify-content: flex-end;
}
.column:nth-of-type(3) {
  flex-direction: column-reverse;
  justify-content: flex-end;
}
.column img {
  transition: opacity 0.2s ease-in-out;
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  cursor: pointer;
}
.column img:hover {
  opacity: 0.9;
}

@media screen and (min-width: 900px) {
  .column {
    flex: 25%;
    max-width: 50%;
  }
  .interiors-grid-container {
    height: calc(100vh - 134px);
    width: calc(100vw - 221.4px);
    overflow: scroll;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 600px) and (max-width: 899px) {
  .column {
    flex: 35%;
    max-width: 50%;
  }
}
.profile-image img {
  width: 100%;
}

.profile-text {
  margin: auto;
  width: 80%;
}
.profile-text p {
  padding: 10px 0;
}
.profile-text p:nth-of-type(2) {
  font-style: italic;
  font-weight: 400;
  padding: 0px;
  color: rgb(119, 119, 119);
}
.profile-text p:nth-of-type(3) {
  margin-top: 20px;
}

@media only screen and (min-width: 500px) and (max-width: 899px) {
  .about-container {
    display: flex;
    align-items: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 70%;
  }
  .profile-image {
    width: 100%;
  }
  .profile-text {
    margin: 0px;
    width: 100%;
  }
}
@media only screen and (min-width: 900px) {
  .about-container {
    display: flex;
    align-items: center;
    width: calc(100vw - 203.85px);
    align-items: center;
    margin-top: 50px;
  }
  .profile-image {
    width: 80%;
    margin-right: 30px;
    display: flex;
    justify-content: center;
  }
  .profile-image img {
    width: 80%;
  }
  .profile-text {
    margin: 0px;
    font-size: 1.5rem;
  }
}
.contact-container {
  margin: auto;
  width: 90%;
}

.contact-text {
  margin-bottom: 50px;
  line-height: 150%;
}
.contact-text p:first-of-type {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.contact-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.contact-input input {
  border-radius: 2px;
  border: rgb(140, 140, 140) 1px solid;
  height: 30px;
}
.contact-input p:nth-of-type(1) {
  margin-bottom: 10px;
}

.contact-submit {
  display: flex;
  justify-content: center;
}
.contact-submit button {
  transition: all 0.3s ease-in-out;
  width: 50%;
  height: 50px;
  background-color: white;
  border: 2px solid black;
  font-size: 1.5rem;
  cursor: pointer;
}
.contact-submit button:hover {
  background-color: black;
  color: white;
}

.input-name {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
.input-name input {
  width: 100%;
}
.input-name input:nth-of-type(1) {
  margin-right: 10px;
}

.input-email,
.input-subject,
.input-message {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 800px) and (max-width: 1199px) {
  .contact-container {
    width: 60%;
  }
}
@media only screen and (min-width: 1200px) {
  .contact-container {
    width: 40%;
  }
}/*# sourceMappingURL=App.css.map */