html {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Work Sans", sans-serif;
}

.header {
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  max-width: 60px;
}
.logo p {
  display: none;
  margin-left: 20px;
  font-weight: 300;
  font-size: 1.8rem;
}

.nav {
  list-style: none;
  display: none;
}
.nav li {
  padding: 10px 0;
  cursor: pointer;
}
.nav li:nth-of-type(1) {
  padding-top: 0px;
}

@media only screen and (min-width: 900px) {
  .nav {
    display: block;
  }
  .mobile-menu-container {
    display: none;
  }
  .main-container {
    display: grid;
    grid-template-columns: 0.5fr fit-content(70%);
  }
  .logo {
    justify-content: start;
  }
  .logo p {
    display: block;
  }
  .nav-container {
    padding: 0 50px;
  }
  .header {
    padding: 50px;
  }
}
.mobile-menu {
  display: flex;
  align-items: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  position: absolute;
  text-align: center;
  height: 100vh;
  width: 100%;
  font-size: 2rem;
}
.mobile-menu li {
  padding: 10px 0;
}

.slide-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(80vh - 76px);
}
.slide-container img {
  width: 90%;
}

.slide-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide-controls p:nth-of-type(2) {
  color: rgb(175, 175, 175);
  padding: 0 10px;
  font-size: 1.3rem;
}

@media only screen and (min-width: 900px) {
  .slide-container {
    max-width: calc(100vw - 175px);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
  }
  .slide-container img {
    max-height: calc(100vh - 134px);
  }
}
.interiors-grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100vw - 220.95px);
}
.interiors-grid-container img {
  width: 100%;
}

.column {
  flex: 100%;
  max-width: 100%;
  padding: 0 4px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 30%;
    max-width: 30%;
  }
}
@media screen and (min-width: 600px) and (max-width: 799px) {
  .column {
    flex: 50%;
    max-width: 100%;
  }
}/*# sourceMappingURL=App.css.map */