/* Nav Bar Style */

:root {
    --clr-primary: black;
    --clr-primary-hover: black;
    --clr-gray100: #f0f7f8;
    --clr-gray200: #cfd8dc;

    --radius: 0.2rem;
}

body {
    font-family: 'Lora', serif;
    
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Nav Bar Style */

.navwrapper {
    font-family: 'Lora', serif;
    box-shadow: 0px 0px 10px var(--clr-gray200);
    margin: 0;
    padding: 1rem 3rem;
    background-color: white;
    border-radius: var(--radius);
    display: flex;
    justify-content: flex-end;
    position: sticky;
    
}


.nav-list {
    list-style: none;
    align-items: center;
    display: inline-flex;

}

.nav-item {
    font-size: 17px;
    margin-left: 2.5rem;
    transition: .2s all;
    
}

#logo {
    height: auto;
    width: 80px;
    margin-right: auto;
    display: inline-flex;
    
}

/* Nav Animations */

.nav-list:hover .nav-item {
    
    opacity: .5;
    transform: scale(.98);
    box-shadow: none;
}

.nav-list:hover .nav-item:hover {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;

    
}

.nav-item a {
    display: block;
    text-decoration: none;
    position: relative;
    padding: .1em 0;
    color: black;

}

.nav-item a::after {
    content:  '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .1em;
    background-color: black;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.nav-item a:hover::after,
.nav-item a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2, 0);
}


/* Slideshow */

.mySlides {
    display: none;
}

.images {
    cursor: pointer;
    vertical-align: middle;
    object-fit: contain;
}

.fix {
    padding: 5em;
}

.fixer {
    padding: 0 7em;
}

.slideshow-container {
    display: flex;
    max-width: 90rem;
    position: relative;
    margin: auto;
    margin-top: 100px;
    overflow: hidden;
    align-items: center;
    
}

/* slideshow numbers and arrows */

.arrow {
    width: 15px;
    height: 15px;
    background: black;
    position: relative;
    transform: rotate(-45deg);
    cursor: pointer;
}

.right {
    transform: rotate(135deg);
}

.arrow:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    top: 1px;
    left: 1px;
}

.entire {
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
}

.test {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}

span {
    z-index: 10;
}

/* Fade Animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .8
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .8
    }
    to {
        opacity: 1
    }
}

/* Media Ques */

@media screen and (min-width: px) {
    .slideshow-container {
        max-width: 60%;
        max-height: 750px;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .slideshow-container {
        max-width: 60%;
        max-height: 450px;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
}

@media screen and (min-width: 1400px) {
    .slideshow-container {
        max-width: 60%;
        max-height: 600px;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
}

@media screen and (min-width: 1600px) {
    .slideshow-container {
        max-width: 60%;
        max-height: 750px;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .test {
        margin-top: 15px;
    }
}

@media screen and (min-width: 2000px) {
    .slideshow-container {
        max-width: 50%;
        max-height: 800px;
        align-items: center;
        justify-content: center;
        margin-top: 85px;
        
    }
}




